body{
  margin:0px;
  background-color: black;
  height: 900px;
  width: 100vw;
}
#RobertBody{
  background-image: url(https://media.giphy.com/media/xemMxBWt9ZTJS/giphy.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2000px;
}

#JoshBody{
  background-image: url(https://media.giphy.com/media/T6aRxf7n76L6M/giphy.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2000px;
}

#JacobBody{
  background-image: url(https://media.giphy.com/media/kKfMgvj4N9itG/giphy.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2000px;
}

header{
  height: 20px;
  width: 100%;

}
main {
  margin: 0px auto;
  background-color: rgba(214,213,232, 0.2);
  height: 950px;
  width: 1600px;
}
h1{
  z-index: 2;
  float: left;
  font-size: 100px;
  text-align: center;
  font-family: 'Nosifer';
  color: red;
  /*font-family: 'Monofett' ;*/
}
section{
  height: 750px;
  width: 100%;
  
}

img {
  display: relative;
  position: absolute;
  z-index: 1;
  height: 50%;

}

section img:first-child {
  float: left;
}
section img:last-child{
  float: right;
}

article button:first-child{
  float: left;
}

article button:last-child{
  float: right;
}

#bossIcon, #fighterIcon{
  
  margin-left: 0px auto;
  vertical-align: middle;
  z-index: 4;
  height: 400px;
  border: 2px solid;
}
#bossIcon{
  position: absolute;
  top: 600px;
  left: 400px;
}

#fighterIcon{
  position: absolute;
  top: 600px;
  left: 800px;

}

article {
  margin: 0 auto;
  height: 100px;
  width: 300px;
  border: 3px solid red;
}

article button {
  border-radius: 0, 10px, 0, 10px;
  margin: 0px auto;
  /* text-align: center; */
  /* position: relative; */
  width: 150px;
  height: 100px;
  background-color: black;
  color: white;
  font-family: 'Monofett' ;
  font-size: 25px;

}
.startgame{
  font-family: 'Press Start 2P';
  font-size: large;
  height: 150px;
  width: 275px;
  border-radius: 100px;
}


footer{
  background-color: rgba(214,200,200, 0.4);
  height: 20px;
  width: 100%;
}