body{
  margin:0px;
  background-color: black;
  height: 1000px;
  width: 100vw;
}
header{
  height: 20px;
  width: 100%;

}
main{
  margin: 0px auto;
  background-color: rgba(214,213,232, 0.2);
  height: 950px;
  width: 1600px;
}
h1{
  font-size: 80px;
  text-align: center;
  font-family: 'Nosifer';
  color: red;
  /*font-family: 'Monofett' ;*/
}
section{
  height: 750px;
  width: 100%;
  /* border-radius: 100px; */
  border: 4px solid  red;
}

img {
  height: 700px;

}

section img:first-child {
  float: left;
}
section img:last-child{
  float: right;
}

article button:first-child{
  float: left;
}

article button:last-child{
  float: right;
}

article {
  margin: 0 auto;
  height: 100px;
  width: 300px;
  border: 3px solid red;
}

article button {
  text-align: center;
  position: relative;
  width: 150px;
  height: 100px;
  background-color: black;
  color: white;
  font-family: 'Monofett' ;
  font-size: 25px;

}


footer{
  background-color: rgba(214,200,200, 0.4);
  height: 20px;
  width: 100%;
}